<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <span class="navbar-brand" href="#">UDI Compliance</span>
        <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed" data-target="#navbar" 
                [attr.aria-expanded]="!isCollapsed" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="navbar" class="collapse navbar-collapse" [ngbCollapse]="!isCollapsed">
            <ul class="nav mr-auto">
              <li class="nav-item" [routerLinkActive] = "['active']" [routerLinkActiveOptions] = "{exact:true}">
                <a class="nav-link" [routerLink]="['/']" (click)="isCollapsed = !isCollapsed">Home</a>
              </li>
            </ul>
            <ul class="nav ml-auto">
              <!-- Dashboard -->
              <li class="nav-item" *ngIf="currentDomain$ | async as cd" [routerLinkActive] = "['active']" [routerLinkActiveOptions] = "{exact:true}">
                <a class="nav-link" [routerLink]="['/dashboard']" (click)="isCollapsed = !isCollapsed">{{cd.name}} Dashboard</a>
              </li>
              <!-- Domain Dropdown -->
              <li class="nav-item" *ngIf="dataLoaded$ | async">
                <div ngbDropdown>
                  <span class="nav-link text-light" id="domainMenu" ngbDropdownToggle>Domains</span>
                  <div ngbDropdownMenu aria-labelledby="domainMenu">
                    <button *ngFor="let dom of domain$ | async" class="dropdown-item" [routerLinkActive] = "['active']" [routerLinkActiveOptions] = "{exact:true}" (click)="dataService.changeDomain(dom.id); isCollapsed = !isCollapsed">
                      <span *ngIf="dom.id === dataService.currentDomain.id" class="badge badge-success">Selected</span>&nbsp;&nbsp;{{dom.name}}
                    </button>
                  </div>
                </div>
              </li>
              <!-- Types Menu -->
              <li class="nav-item" *ngIf="dataLoaded$ | async">
                <div ngbDropdown>
                  <span class="nav-link text-light" id="typeMenu" ngbDropdownToggle>Types</span>
                  <div ngbDropdownMenu aria-labelledby="typeMenu">
                    <button *ngFor="let type of dataService.apiTypes" class="dropdown-item" [routerLinkActive] = "['active']" 
                      [routerLinkActiveOptions] = "{exact:true}" [routerLink]="['/'+type]"
                        (click)="isCollapsed = !isCollapsed">
                      {{type | titlecase}}
                    </button>
                  </div>
                </div>
              </li>              
              <!-- Login/Logout -->
              <li class="nav-item" *ngIf="user.loggedIn">
                  <a class="nav-link" (click)="logout()" href="#">Logout</a>
              </li>
              <li class="nav-item" *ngIf="!user.loggedIn">
                <a class="nav-link" (click)="login()" href="#">Login</a>
              </li>
            </ul>
        </div>
    </div>
</nav>
<ng-template #loading>
  <div>Loading...</div>
</ng-template>