<div *ngIf="ds.dataLoaded$ | async; else loading" style="width:100%">
  <div *ngIf="authService.user$ | async as user" class="container-fluid">
    <!-- Title -->
    <h2 align="center" class="text-white">Commands</h2>
    <!-- Accordion Panel -->
    <ngb-accordion #acc="ngbAccordion" activeIds="parent">
      <ngb-panel id="parent">
        <ng-template ngbPanelHeader let-opened="opened">
          <div class="row text-white d-flex align-items-center justify-content-between">
            <h4 class="col">{{typeValue | titlecase}}</h4>
            <div class="input-group col-6">
              <input
                type="text"
                class="form-control "
                placeholder="Search…"
                [formControl]="searchFormControl">
              <div class="input-group-append">
                <button
                  class="button btn-secondary"
                  (click)="searchFormControl.setValue('')">
                  <fa-icon class="fa-1x" [icon]="faWindowClose"></fa-icon>
                </button>
              </div>
            </div>
            <div class="col">
              <button style="width: 200px;" ngbPanelToggle class="btn btn-secondary btn-link float-right">
                <fa-icon *ngIf="!opened" class="fa-1x" [icon]="faAngleDoubleDown"></fa-icon>
                <fa-icon *ngIf="opened" class="fa-1x" [icon]="faAngleDoubleUp"></fa-icon>
              </button>
            </div>
          </div>
        </ng-template>
        <ng-template ngbPanelContent>
          <ngb-pagination
            [collectionSize]="tableDataSource$.value.length"
            [pageSize]="pageSize$.value"
            [page]="currentPage$.value"
            (pageChange)="currentPage$.next($event)">
          </ngb-pagination>
          <table 
            class="table table-striped table-bordered table-hover"
            cdk-table
            [dataSource]="dataOnPage$"
            >          
            <!-- Name -->
            <ng-container cdkColumnDef="name">
              <th cdk-header-cell *cdkHeaderCellDef c
                (click)="adjustSort('name')" class="p-2 flex-fill">
                Name
                <span *ngIf="sortKey$.value === 'name'">
                  {{ sortDirection$.value === 'asc' ? '↥' : '↧' }}
                </span>
              </th>
              <td cdk-cell *cdkCellDef="let element">{{element.name}}</td>
            </ng-container>
            <!-- Description -->
            <ng-container cdkColumnDef="description">
              <th cdk-header-cell *cdkHeaderCellDef 
                (click)="adjustSort('description')" class="w-20 p-2">
                Description
                <span *ngIf="sortKey$.value === 'description'">
                  {{ sortDirection$.value === 'asc' ? '↥' : '↧' }}
                </span>
              </th>
              <td cdk-cell *cdkCellDef="let element">
                {{element.description}}
              </td>
            </ng-container>
            <!-- Params -->
            <ng-container cdkColumnDef="params">
              <th cdk-header-cell *cdkHeaderCellDef class="w-20 p-2">Command Params</th>
              <td cdk-cell *cdkCellDef="let element">
                <ng-container *ngIf="element.params">
                  <div *ngFor="let param of element.params.items">
                    <a [routerLink]="['/commandparam']" [queryParams]="{search: param.id}">
                      {{param.name}}
                    </a><br>
                  </div>
                </ng-container>
              </td>
            </ng-container>  
            <!-- Edit -->
            <ng-container cdkColumnDef="edit">
              <th cdk-header-cell *cdkHeaderCellDef class="text-center p-2 flex-fill">Edit</th>
              <td class="text-center" cdk-cell *cdkCellDef="let element">
                <button [disabled]="!user.groups.includes('Admins')" type="button" 
                  class="btn btn-info" (click)="open('update', updateModal, element)">
                    Edit
                </button>
              </td>
            </ng-container>
            <!-- Delete -->
            <ng-container cdkColumnDef="delete" class="w-10 p-2">
              <th cdk-header-cell *cdkHeaderCellDef class="text-center p-2 flex-fill">Delete</th>
              <td class="text-center" cdk-cell *cdkCellDef="let element">
                <button [disabled]="!user.groups.includes('Admins') || element.id === 'ecc625a7-c7d5-4f8e-8225-0d529e423c39'" type="button" 
                  class="btn btn-danger" (click)="open('delete', deleteModal, element)">
                    Delete
                </button>              
              </td>
            </ng-container>
            <!-- Table -->
            <thead>
              <tr cdk-header-row *cdkHeaderRowDef="displayedColumns"></tr>
            </thead>
            <tbody>
              <tr cdk-row *cdkRowDef="let row; columns: displayedColumns; let i = index"></tr>
            </tbody>
          </table>
          <!-- Create -->
          <div class="text-right">
            <button [disabled]="!user.groups.includes('Admins')" type="submit" 
                class="btn btn-primary" (click)="open('create', createModal)">
              New
            </button>
          </div>
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
  </div>
</div><br>
<ng-template #loading>
  <div>Loading...</div>
</ng-template>

<!-- Create Modal -->
<ng-template #createModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title text-white">Create {{typeValue | titlecase}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true"><fa-icon class="fa-1x" [icon]="faWindowClose"></fa-icon></span>
    </button>
  </div>
  <div class="modal-body">
    <!-- Input Form -->
    <form [formGroup]="createForm" (ngSubmit)="create()">
      <!-- Name -->
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Name</label>
        <div class="col-sm-9 d-flex flex-column">
          <input class="form-control" type="text" formControlName="name">
        </div>
      </div>
      <!-- Description -->
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Description</label>
        <div class="col-sm-9 d-flex flex-column">
          <input class="form-control" type="text" formControlName="description">
        </div>
      </div>
      <!-- Buttons -->
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Save</button>
        <button ngbAutofocus type="button" class="btn btn-primary" (click)="modal.dismiss()">Cancel</button>
      </div>
    </form>
  </div>
</ng-template>

<!-- Update Modal -->
<ng-template #updateModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title text-white">Update {{typeValue | titlecase}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true"><fa-icon class="fa-1x" [icon]="faWindowClose"></fa-icon></span>
    </button>
  </div>
  <div class="modal-body">
    <!-- Input Form -->
    <form [formGroup]="updateForm" (ngSubmit)="modify('update')">
      <!-- Name -->
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Name</label>
        <div class="col-sm-9 d-flex flex-column">
          <input class="form-control" type="text" formControlName="name">
        </div>
      </div>
      <!-- Description -->
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Description</label>
        <div class="col-sm-9 d-flex flex-column">
          <input class="form-control" type="text" formControlName="description">
        </div>
      </div>
      <!-- Buttons -->
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Save</button>
        <button ngbAutofocus type="button" class="btn btn-primary" (click)="modal.dismiss()">Cancel</button>
      </div>
    </form>
  </div>
</ng-template>

<!-- Delete Modal -->
<ng-template #deleteModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title text-white">Delete {{typeValue | titlecase}}?</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('cancel')">
      <span aria-hidden="true"><fa-icon class="fa-1x" [icon]="faWindowClose"></fa-icon></span>
    </button>
  </div>
  <div class="modal-body">
    <h4>
      *** WARNING IRREVERSABLE *** <br>
      Are you sure you want to delete {{typeValue}} {{current['name']}}?
    </h4>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="delete()">Delete</button>
    <button ngbAutofocus type="button" class="btn btn-primary" (click)="modal.dismiss('cancel')">Cancel</button>
  </div>
</ng-template>